[data-theme='hirundo-theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(92.78% 0.03 275.62deg);
	--color-primary-100: oklch(84.51% 0.07 276.56deg);
	--color-primary-200: oklch(76.18% 0.11 275.35deg);
	--color-primary-300: oklch(68.04% 0.15 274.1deg);
	--color-primary-400: oklch(60.14% 0.19 271.72deg);
	--color-primary-500: oklch(52.98% 0.23 268.94deg);
	--color-primary-600: oklch(49.01% 0.21 269.08deg);
	--color-primary-700: oklch(45.13% 0.19 269.07deg);
	--color-primary-800: oklch(40.9% 0.17 269.28deg);
	--color-primary-900: oklch(36.85% 0.15 269.27deg);
	--color-primary-950: oklch(32.49% 0.13 269.57deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.73% 0.03 277.6deg);
	--color-secondary-100: oklch(80.15% 0.07 277.11deg);
	--color-secondary-200: oklch(69.38% 0.1 275.31deg);
	--color-secondary-300: oklch(58.57% 0.15 273.88deg);
	--color-secondary-400: oklch(48.29% 0.19 270.17deg);
	--color-secondary-500: oklch(39.57% 0.22 265.86deg);
	--color-secondary-600: oklch(36.75% 0.2 265.93deg);
	--color-secondary-700: oklch(33.88% 0.18 266.02deg);
	--color-secondary-800: oklch(30.82% 0.16 266.47deg);
	--color-secondary-900: oklch(27.83% 0.14 266.68deg);
	--color-secondary-950: oklch(24.77% 0.12 266.9deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(97.42% 0.03 96.36deg);
	--color-tertiary-100: oklch(94.54% 0.06 97.38deg);
	--color-tertiary-200: oklch(91.96% 0.09 98.64deg);
	--color-tertiary-300: oklch(89.28% 0.12 98.59deg);
	--color-tertiary-400: oklch(86.92% 0.14 98.79deg);
	--color-tertiary-500: oklch(84.46% 0.16 97.94deg);
	--color-tertiary-600: oklch(77.87% 0.15 98.04deg);
	--color-tertiary-700: oklch(71.23% 0.13 97.59deg);
	--color-tertiary-800: oklch(64.54% 0.12 98.38deg);
	--color-tertiary-900: oklch(57.56% 0.11 97.83deg);
	--color-tertiary-950: oklch(50.26% 0.09 97.98deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.65% 0.04 138.69deg);
	--color-success-100: oklch(91.12% 0.09 139.22deg);
	--color-success-200: oklch(86.64% 0.14 139.12deg);
	--color-success-300: oklch(82.71% 0.18 139.64deg);
	--color-success-400: oklch(78.99% 0.22 139.91deg);
	--color-success-500: oklch(76% 0.24 140.65deg);
	--color-success-600: oklch(70.02% 0.22 140.63deg);
	--color-success-700: oklch(64.18% 0.2 140.63deg);
	--color-success-800: oklch(57.96% 0.18 140.49deg);
	--color-success-900: oklch(51.82% 0.16 140.48deg);
	--color-success-950: oklch(45.21% 0.14 140.42deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.53% 0.03 52.25deg);
	--color-warning-100: oklch(90.48% 0.06 52.08deg);
	--color-warning-200: oklch(85.66% 0.09 50.93deg);
	--color-warning-300: oklch(80.91% 0.12 49.6deg);
	--color-warning-400: oklch(76.71% 0.15 48.31deg);
	--color-warning-500: oklch(72.95% 0.18 46.37deg);
	--color-warning-600: oklch(67.33% 0.16 46.28deg);
	--color-warning-700: oklch(61.58% 0.15 46.41deg);
	--color-warning-800: oklch(55.86% 0.13 46.91deg);
	--color-warning-900: oklch(49.82% 0.12 47.18deg);
	--color-warning-950: oklch(43.61% 0.1 47.12deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.43% 0.03 17.81deg);
	--color-error-100: oklch(86.07% 0.08 18.75deg);
	--color-error-200: oklch(79.4% 0.12 20.06deg);
	--color-error-300: oklch(73.31% 0.16 21.93deg);
	--color-error-400: oklch(68.47% 0.2 24.28deg);
	--color-error-500: oklch(64.96% 0.24 26.9deg);
	--color-error-600: oklch(60% 0.22 26.8deg);
	--color-error-700: oklch(54.85% 0.2 26.75deg);
	--color-error-800: oklch(49.66% 0.18 26.59deg);
	--color-error-900: oklch(44.25% 0.16 26.49deg);
	--color-error-950: oklch(38.77% 0.13 26.22deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(89.85% 0.02 273.88deg);
	--color-surface-100: oklch(78% 0.03 276.26deg);
	--color-surface-200: oklch(65.64% 0.05 275.03deg);
	--color-surface-300: oklch(52.96% 0.08 274.61deg);
	--color-surface-400: oklch(39.72% 0.1 271.88deg);
	--color-surface-500: oklch(26.87% 0.13 266.96deg);
	--color-surface-600: oklch(25.12% 0.12 267.33deg);
	--color-surface-700: oklch(23.53% 0.11 267.5deg);
	--color-surface-800: oklch(21.55% 0.1 267.32deg);
	--color-surface-900: oklch(19.92% 0.08 267.22deg);
	--color-surface-950: oklch(18.03% 0.07 267.51deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-light);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
